@use "../abstract" as *;

// back button start section

.logout-btn {
    width: auto;
    color: #e95a5a !important;
    background-color: white !important;
    border: 1px solid #e95a5a !important;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 20px;
    @include xsBreakPoint {
        width: 100% !important;
    }
    @include smBreakPoint {
        width: 100% !important;
    }
    @include mdBreakPoint {
        width: 100% !important;
    }
    @include lgBreakPoint {
        width: 100% !important;
    }
    @include xlBreakPoint {
        width: 100% !important;
    }
}
.logout-btn:hover {
    background-color: #e95a5a !important;
    cursor: pointer;
    color: white !important;
}

.logout-btn-active {
    background-color: #e95a5a !important;
    cursor: pointer;
    color: white !important;
    width: auto;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 20px;
    @include xsBreakPoint {
        width: 100% !important;
    }
    @include smBreakPoint {
        width: 40% !important;
    }
    @include mdBreakPoint {
        width: 100% !important;
    }
    @include lgBreakPoint {
        width: 50% !important;
    }
    @include xlBreakPoint {
        width: 50% !important;
    }
}
.logout-btn-active:hover {
    background-color: white !important;
    cursor: pointer;
    color: #e95a5a !important;
    border: 1px solid #e95a5a;
}

// submit button end section

// button gap start section

.button-gap-section {
    display: flex;
    justify-content: space-between;
}

// button gap end section

// next button

.next-btn {
    background-color: #e95a5a !important ;
    cursor: pointer;
    color: white !important;
}
.next-btn:hover {
    background-color: white !important;
    cursor: pointer;
    color: #e95a5a !important;
}

// upload button start

.upload-btn {
    background-color: #e95a5a !important ;
    cursor: pointer;
    color: white !important;
}
.upload-btn:hover {
    background-color: white !important;
    cursor: pointer;
    color: #e95a5a !important;
}

// upload button end

// active icon in svg start

.width {
    width: 20px;
}
// active icon in svg end
